In [ ]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
#tuples are immutable

In [1]:
city_location=('Pune','Mumbai','Chennai','Goa')

In [2]:
city_location

('Pune', 'Mumbai', 'Chennai', 'Goa')

In [3]:
type(city_location)

tuple

In [ ]:
# tuple are immutable
#But dont worry, we have a trick to add .
#first we have to convert tupple into a list.

In [4]:
city_location=list(city_location)

In [6]:
city_location

['Pune', 'Mumbai', 'Chennai', 'Goa']

In [ ]:
#now back to change in tuple

In [7]:
city_location.append('Delhi')

In [8]:
city_location

['Pune', 'Mumbai', 'Chennai', 'Goa', 'Delhi']

In [ ]:
#now back to change in tuple

In [9]:
city_location=tuple(city_location)

In [10]:
city_location

('Pune', 'Mumbai', 'Chennai', 'Goa', 'Delhi')

In [ ]:
#checking length in tuple

In [11]:
len(city_location)

5

In [ ]:
#checking indexing in tuple

In [12]:
city_location

('Pune', 'Mumbai', 'Chennai', 'Goa', 'Delhi')

In [14]:
city_location[0]

'Pune'

In [15]:
city_location[3]

'Goa'

In [ ]:
#slicing

In [16]:
city_location[-4]

'Mumbai'

In [ ]:
#Basics Tuple Method.
#Tuple have buit in method , but not many as list,
#lets see two samples of tuples built in method

In [21]:
numbers=(10,12,14,16,17,18,19,20,22,45,226,28,20,33,36,39,414,48,52,55,57,59.55,85,88,96,55,77,55,)

In [ ]:
#index to enter a value

In [19]:
numbers.index(414)

16

In [20]:
numbers.index(20)

7

In [ ]:
#Use .count to count the number of times a value appears

In [23]:
numbers=(10,12,14,16,17,18,19,20,22,45,226,28,20,33,36,39,414,48,52,55,57,59.55,85,88,96,55,77,55,)

In [24]:
numbers.count(55)

3

In [ ]:
# what is set ? set is a data structure in pyhton. sets are an unordered collection of unique element-

In [25]:
student_marks=set()

In [26]:
type(student_marks)

set

In [ ]:
#we add to set with the add methods

In [27]:
student_marks.add(45)

In [28]:
student_marks

{45}

In [ ]:
#we add to set with the add methods

In [29]:
student_marks.add(85)

In [30]:
student_marks

{45, 85}

In [ ]:
#You have to know one thing where we use set method.
# if we have list with numbers , but in our list lots of numbers available .
#what we can do,  we can use set method to get unique element

In [31]:
number={5,8,8,9,6,3,2,4,5,6,47,8,11,15,16,14,15,11,85,75,95,68,969,87,55,88,85,969,11,5,2,4,68,87}

In [ ]:
# remove duplicates

In [33]:
remove_duplicates=set(number)

In [34]:
remove_duplicates

{2, 3, 4, 5, 6, 8, 9, 11, 14, 15, 16, 47, 55, 68, 75, 85, 87, 88, 95, 969}

In [ ]:
# what is dictionary ? dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.dictionary will take corresponding value

In [39]:
my_dict={'key1':'value1','key2':'value2'}

In [40]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [42]:
my_dict['key1']

'value1'

In [44]:
my_dict['key2']

'value2'

In [ ]:
#new employees created

In [46]:
my_dict={'employees':123,'employees name':['ramesh','suresh','mahesh'],'employees salary':[25000,35000,45000]}

In [47]:
my_dict

{'employees': 123,
 'employees name': ['ramesh', 'suresh', 'mahesh'],
 'employees salary': [25000, 35000, 45000]}

In [ ]:
#call items from the dictionary

In [48]:
my_dict['employees']

123

In [49]:
my_dict['employees name']

['ramesh', 'suresh', 'mahesh']

In [50]:
my_dict['employees name'][0]

'ramesh'

In [51]:
my_dict['employees name'][2]

'mahesh'

In [52]:
my_dict['employees name'][1]

'suresh'

In [54]:
my_dict['employees name'][0].upper()

'RAMESH'

In [55]:
my_dict['employees name'][2].upper()

'MAHESH'

In [56]:
my_dict['employees name'][1].upper()

'SURESH'

In [57]:
my_dict

{'employees': 123,
 'employees name': ['ramesh', 'suresh', 'mahesh'],
 'employees salary': [25000, 35000, 45000]}

In [60]:
my_dict['employees salary'][1]=my_dict['employees salary'][1]+1500

In [61]:
my_dict

{'employees': 123,
 'employees name': ['ramesh', 'suresh', 'mahesh'],
 'employees salary': [25000, 38000, 45000]}

In [62]:
my_dict['employees salary'][0]=my_dict['employees salary'][0]+3500

In [63]:
my_dict

{'employees': 123,
 'employees name': ['ramesh', 'suresh', 'mahesh'],
 'employees salary': [28500, 38000, 45000]}

In [ ]:
#Python can multiple, addition , substraction and divide .

In [ ]:
#sub

In [64]:
my_dict['employees salary'][1]-=4500

In [65]:
my_dict

{'employees': 123,
 'employees name': ['ramesh', 'suresh', 'mahesh'],
 'employees salary': [28500, 33500, 45000]}

In [66]:
my_dict['employees salary'][0]-=500

In [ ]:
my_ci