In [ ]:
#Keywords and Simple Expressions

In [ ]:
#1. List five Python keywords and describe what they do.

In [ ]:
def: Used to define a function. 
return: Exits a function and returns a value.
if: Used for conditional statements. 
for: Used to create a for loop.
in: Checks if a value exists within a sequence or iterable, or used in a for loop

In [ ]:
#2 2. Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.

In [1]:
length = 5

In [2]:
width = 10

In [4]:
area = length * width

In [5]:
print(area)

50

In [ ]:
#4. Write a Python expression that combines addition, subtraction, multiplication, and division.

In [6]:
a=50
b=25
c=5
d=10

In [7]:
result = (a + b - c) * a / d

In [8]:
result

350.0

In [ ]:
#5. What is the output of `10 % 3`? Explain why.

In [ ]:
# The output is 1. The % operator is the modulus operator and  returns the remainder of a division. dividing 10 by 3 gives a remainder of 1.

In [ ]:
#Data Types

In [ ]:
#6. Check the type of the value `3.14` in Python.

In [9]:
a=3.14

In [10]:
print(a)

3.14

In [11]:
type(a)

float

In [ ]:
#7. Convert the integer `10` to a float and a string. Print the results.

In [12]:
a=10

In [13]:
float_a=float(a)

In [14]:
str_a=str(a)

In [15]:
print(float_a)
print(str_a)

10.0
10

In [ ]:
#8. Write a statement to add two strings and print the result.

In [22]:
str_a="Hello"

In [23]:
str_b="dinesh"

In [24]:
str_c=str_a + str_b

In [25]:
print(str_c)

Hellodinesh

In [ ]:
#9. What data type would the result of `3 > 2` be?

In [26]:
a=3

In [27]:
b=2

In [28]:
c=a>b

In [29]:
print(c)

True

In [ ]:
#The result of 3 > 2 is a boolean type

In [ ]:
#10. How can you convert a string "123" into an integer?

In [30]:
a_str = "123"

In [34]:
a_int = int(a_str)

In [35]:
print(a_int)

123

In [ ]:
#Data Structures

In [ ]:
#11. Create a list of 5 elements and print the third element.

In [36]:
my_list = [10, 20, 30, 40, 50]

In [37]:
print(my_list[2])

30

In [ ]:
#12. Add a new element to a list called `my_list` using the `.append()` method.

In [40]:
my_list = [10, 20, 30, 40, 50]

In [42]:
my_list.append(60)

In [43]:
print(my_list)

[10, 20, 30, 40, 50, 60, 60]

In [ ]:
#13. Remove the last element from a list `my_list` using the `.pop()` method.

In [57]:
my_list = [10, 20, 30, 40, 50]

In [58]:
my_list.pop()

50

In [ ]:
#15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]`.

In [60]:
my_list = [10, 20, 30, 40, 50]

In [62]:
print(my_list[-2:])

[40, 50]

In [ ]:
#16. Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.

In [64]:
person = {'name': 'Alice', 'age': 25}

In [ ]:
#17. Retrieve the value associated with the key 'name' from the dictionary you created in question 16.

In [ ]:
person = {'name': 'Alice', 'age': 25}

In [65]:
print(person['name'])

Alice

In [ ]:
#18. Check if the key 'name' exists in a dictionary.

In [66]:
person = {'name': 'Alice', 'age': 25}

In [67]:
print('name' in person)

True

In [ ]:
#19. What is the difference between a list and a set in Python?

In [ ]:
List
A list is an ordered collection of elements.
list allows duplicate elements.

A set is an unordered collection of unique elements.
It doesn’t allow duplicates.

In [68]:
my_list = [10, 20, 30, 40, 50]

In [69]:
my_set=set(my_list)

In [70]:
print(my_set)

{40, 10, 50, 20, 30}

In [ ]:
#Branching

In [ ]:
#21. Write an `if` statement that prints 'Greater than 10' if a number is greater than 10.

In [80]:
number=20

In [82]:
if number > 10:
    print('Greater than 10')

Greater than 10

In [ ]:
#22. Write an `if-else` statement that checks if a number is positive or negative.

In [85]:
number = -25
if number > 0:
    print("Positive")
else:
    print("Negative")

Negative

In [ ]:
#23. Write an `if-elif-else` statement that checks if a number is positive, negative, or zero.

In [86]:
number = 0
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Zero