In [ ]:
#1. Write a Python expression to calculate the area of a circle with radius r = 7.

In [ ]:
#radius r = 7.

In [1]:
r=7

In [ ]:
# value of Pi

In [4]:
pi = 3.14159

In [ ]:
# Calculate the area

In [6]:
area = pi * (r ** 2)

In [7]:
area

153.93791

In [ ]:
#2. What will be the output of the expression 2 * 3 + 4?

In [8]:
a=2*3+4

In [9]:
a

10

In [ ]:
#3. Calculate the result of (8 / 2) * (3 + 2).

In [10]:
a=(8 / 2) * (3 + 2)

In [11]:
a

20.0

In [ ]:
#4. Write an expression to find the remainder when 15 is divided by 4.

In [12]:
a=15/4

In [17]:
a

3.75

In [ ]:
# Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) *
5/9.

In [ ]:
#Fahrenheit F=100

In [14]:
F=100

In [15]:
 C = (F - 32) *5/9

In [16]:
C

37.77777777777778

In [ ]:
#6. Evaluate the expression: 10 // 3 + 2 ** 3.

In [18]:
a= 10 // 3 + 2 ** 3

In [19]:
a

11

In [ ]:
#8. What is the output of not (4 > 5 or 3 == 3)?

In [23]:
a=not (4 > 5 or 3 == 3)

In [24]:
a

False

In [ ]:
#Data Types

In [ ]:
#10. What is the type of the value 5.0?

In [30]:
a=5.0

In [26]:
type(a)

float

In [ ]:
#11. How do you convert the integer 42 to a string?

In [27]:
a=42

In [28]:
num_a=str(a)

In [29]:
a

42

In [ ]:
#12. What will the expression str(3.14) + ' is pi' output?

In [31]:
a= str(3.14) + ' is pi'

In [32]:
a

'3.14 is pi'

In [ ]:
#13. What is the output type of the expression 4 + 3.5?

In [33]:
a=4+3.5

In [34]:
a

7.5

In [35]:
type(a)

float

In [ ]:
#Data Structures - Lists, Tuples, Sets, and Dictionaries

In [ ]:
#17. How do you create an empty list in Python?

In [ ]:
# Create an empty list

In [37]:
empty_list = []

In [39]:
print(" empty list is:", empty_list)

 empty list is: []

In [ ]:
#18. Write code to add an element 42 to the end of the list [1, 2, 3].

In [40]:
a_list=[1,2,3]

In [41]:
a_list.append(42)

In [42]:
a_list

[1, 2, 3, 42]

In [ ]:
#19. How do you access the third element in the list my_list = [10, 20, 30, 40]?

In [44]:
my_list = [10, 20, 30, 40]

In [47]:
a=my_list[2]

In [48]:
a

30

In [ ]:
#20. What is the difference between a list and a tuple in Python?

In [ ]:
List
A list is mutable
Lists using square brackets []
Lists of items that might change

In [ ]:
Tuple
A tuple is immutable
Tuples are using round brackets ()
uples are fixed collection of items

In [ ]:
#21. Write a Python code to create a set with the elements 1, 2, and 3.

In [49]:
a_set ={1,2,3}

In [50]:
print(a_set)

{1, 2, 3}

In [ ]:
#22. How do you remove an element from a set in Python?

In [56]:
a_set={20,25,30,35}

In [61]:
a_set.remove(25)

In [62]:
a_set

{20, 30, 35}

In [ ]:
#23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice',
'age': 25}.

In [63]:
person = {'name': 'Alice', 'age': 25}

In [67]:
a_value=person['name']

In [68]:
a_value

'Alice'

In [ ]:
#25. Given my_tuple = (5, 10, 15), how can you access the element 10?

In [70]:
my_tuple = (5, 10, 15)

In [71]:
a=my_tuple[1]

In [72]:
a

10

In [ ]:
#Methods of Data Structures

In [ ]:
#26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?

In [73]:
list_number=[1,2,3,4,5]

In [77]:
a=len(list_number)

In [78]:
a

5

In [ ]:
#28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.

In [79]:
a_list=[4,1,3,2]

In [81]:
a_list.sort()

In [82]:
a_list

[1, 2, 3, 4]

In [ ]:
#29. How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?

In [83]:
my_list = [1, 2, 3, 4, 5]

In [84]:
if 5 in my_list:
    print("5 is in the list.")
else:
    print("5 is not in the list.")

5 is in the list.

In [ ]:
#30. Write a code to concatenate two lists. [1, 2, 3] and [4, 5, 6]

In [85]:
a= [1, 2, 3]
b=[4, 5, 6]

In [86]:
c=a+b

In [87]:
c

[1, 2, 3, 4, 5, 6]