In [29]:
#1. Write a Python program to evaluate the expression `5 + 3 * 2` and print the
a=5+3*2
print(a)

11

In [30]:
#2. Write a program that calculates the result of `2 ** 3 + 5`
a=2**3+5
print(a)

13

In [31]:
#3. Create a program that calculates the result of the expression `(10 - 3) * (2 + 4)'
a=((10-3)*(2+4))
print(a)

42

In [32]:
#4. Write a program that calculates `15 // 4` and prints the result.
print(15//4)

3

In [33]:
##5. Write a Python code to find the remainder when dividing 15 by 4 (`15 % 4`).
a=(15%4)
print(a)##gives the quotient

3

In [34]:
#. 6. Create a variable `x` and assign it the value 42. Print its type using `type()`
x=42
print(type(x))

<class 'int'>

In [35]:
#7. Create a list `fruits = ['apple', 'banana', 'cherry']`. Print the type of this list.
fruits=['appler','banana','cherry']
print(type(fruits))

<class 'list'>

In [36]:
# 8. Create a variable `is_active = True`. Print the type of the variable.
# Create the variable
is_active = True
print("The type of the variable ", type(is_active))

The type of the variable  <class 'bool'>

In [37]:
# 9. Create a variable `price = 3.14`. Print its type.
price=3.14
print(type(price))

<class 'float'>

In [38]:
# 10. Write a program to print the type of the string `'Hello World'`.
word='Hello World' 
print("Type of string",type(word))

Type of string <class 'str'>

In [41]:
#11. Create a list of your 3 favorite fruits and print it.
list_favorite_fruits=['apple','mango','banana']
print("My favorite fruits",list_favorite_fruits)

My favorite fruits ['apple', 'mango', 'banana']

In [42]:
#12. Convert a tuple `('apple', 'banana', 'cherry')` into a list. Print the new list.
tuple_fruits=('apple', 'banana', 'cherry')

list_fruits=list(tuple_fruits)
print("Converted list is ",list_fruits)

TypeError: 'list' object is not callable

In [43]:
#13. Create a list `my_list = [10, 20, 30]`. Access and print the first element of the list.
my_list=[10,20,30]  # access the first element by indexing
print(my_list[0])

10

In [44]:
#14. Find the length of the list `[10, 20, 30]` and print it.
my_list=[10,20,30]
print("lenght of the list is ",len(my_list))

lenght of the list is  3

In [45]:
#15. Add the element `40` to the list `my_list = [10, 20, 30]` and print the updated list
my_list = [10, 20, 30]
my_list.append(40)
print(my_list)

[10, 20, 30, 40]

In [46]:
#16. Write a `for` loop to print numbers from 1 to 5.
for a in range(1,6):
 print(a)

1
2
3
4
5

In [47]:
#17. Write a `for` loop that prints numbers from 3 to 5.
for a in range(3,6):
 print(a)

3
4
5

In [48]:
#18. Write a `for` loop to iterate over a list `['apple', 'banana', 'cherry']` and print each element
fruits=['apple', 'banana', 'cherry']
for a in fruits:
    print(a)

apple
banana
cherry

In [49]:
#19. Write a `for` loop to print the squares of numbers from 1 to 4.
for a in range(1, 5):
    print(f"The square of {a} is {a**2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16

In [50]:
#. 20. Write a `for` loop that prints `i * 2` for `i` in the range of 5.
for i in range(5):
    print(f"{i} * 2 = {i * 2}")

0 * 2 = 0
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8

In [51]:
#21.Write a `while` loop that prints numbers from 1 to 5
a=1
while a<=5: #loop w condition
   print(a)
   a+=1

1
2
3
4
5

In [52]:
#22. Create a `while` loop that prints the numbers from 0 to 3
a=0
while a<=3: #loop w condition
   print(a)
   a+=1

0
1
2
3

In [53]:
# 23. Write a `while` loop that calculates and prints the sum of numbers from 1 to 10
number = 1
total_sum = 0
while number <= 10:
    total_sum += number  # Add the current number to the total sum
    number += 1 
print("The sum of numbers from 1 to 10 is:", total_sum)

The sum of numbers from 1 to 10 is: 55

In [56]:
#24. Create a `while` loop that multiplies numbers from 1 to 4 and prints the result.
n=1
product=1
while n<=4:
    product*=n
    n+=1
print(product)

24

In [57]:
#25. Write a `while` loop that prints numbers from 10 to 1, decrementing by 1 each time.
a=10
while a>0:
  print(a)
  a-=1

10
9
8
7
6
5
4
3
2
1

In [58]:
#26. Write a program that checks if a number is positive, negative, or zero
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  2

The number is positive.

In [59]:
# 27. Write a program that checks if a number is even or odd using `if-else
#for even number 
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number:  6

The number is even.

In [60]:
#For odd number 
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number:  3

The number is odd.

In [61]:
#28. Write a program that checks if a number is greater than 10 and print 'Greater', otherwise prints 'Smaller'.
num=int(input('Enter a number: '))
if num>10:
        print('Number is greater than 10')
else:
        print('Number is smaller than 10')

Enter a number:  15

Number is greater than 10

In [62]:
#29. Write a program that prints the grade based on a score: A (90-100), B(70-89), C (50-69), and D (0-49)
score = int(input("Enter the score: "))
if score >= 90 and score <= 100:
    print("Grade: A")
elif score >= 70 and score < 90:
    print("Grade: B")
elif score >= 50 and score < 70:
    print("Grade: C")
elif score >= 0 and score < 50:
    print("Grade: D")

Enter the score:  86

Grade: B

In [63]:
#30. Write a program that checks if a number is divisible by 5 and prints 'Divisible' or 'Not Divisible'
number = int(input("Enter a number: "))
if number % 5 == 0:
    print("Divisible")
else:
    print("Not Divisible")

Enter a number:  15

Divisible

In [65]:
#31. Write a function `add_numbers(a, b)` that returns the sum of two numbers.
def add_number(a,b):
  return(a+b)
a_sum=add_number(56,4)
print("The sum of two number",a_sum)

The sum of two number 60

In [66]:
#32. Write a function that takes a string as input and prints it in reverse order.
def reverse_string(input_string):
    print(input_string[::-1])#slicing method
reverse_string("Dinesh")

hseniD

In [67]:
# 33. Write a function that returns the maximum of three numbers
def max_of_three(a, b, c):
    return max(a, b, c)
result=max_of_three(50,150,100)
print("The max of three number",result)

The max of three number 150

In [68]:
#35. Write a function `multiply(a, b)` that returns the product of two numbers and prints the result
def multiply(a, b):
    return(a*b)

multiply(8,9)

72

In [71]:
#36. Write a lambda function that adds two numbers and prints the result.
add = lambda a, b: a+b
add(5, 3)

8

In [72]:
#37. Use a lambda function to square a number and print the result.
square_number = lambda a:a*a
square_number(4)

16

In [73]:
#38. Write a lambda function to find the cube of a number and call it with the value `3`
cube = lambda x: x ** 3
cube(3)

27

In [2]:
#39. Write a lambda function that filters even numbers from the list `[1, 2, 3, 4, 5, 6]`.
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [3]:
#40. Write a lambda function to check if a number is positive and return `True` or `False`.
positive=lambda x:x>0 

print(positive(4))
print(positive(-5))
print(positive(0))

True
False
False

In [4]:
#41. Write a program that multiplies each number in the list `[1, 2, 3, 4]` by 2 using `map()`.
numbers = [1, 2, 3, 4]
multiplied_numbers = list(map(lambda x: x * 2, numbers))
print(multiplied_numbers)

[2, 4, 6, 8]

In [5]:
#42. Use `map()` to square each number in the list `[1, 2, 3, 4, 5]` and print the result
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [6]:
#43. Write a program that uses `map()` to convert a list of strings `['1', '2', '3']`  into a list of integers
# List of strings
string_list = ['1', '2', '3']
integer_list = list(map(int, string_list))
print(integer_list)

[1, 2, 3]

In [7]:
#44. Use `map()` to calculate the square of each element in the list `[1, 4, 9,16]` and print the result
num = [1, 4, 9, 16]
result = list(map(lambda x: x**2, num))
print(result)

[1, 16, 81, 256]

In [8]:
#. 45. Write a program that uses `map()` to capitalize each word in the list`['hello', 'world']`.
words = ['dinesh', 'sonkusare']
capitalized_words = list(map(lambda x: x.upper(), words))

# Print the result
print(capitalized_words)

['DINESH', 'SONKUSARE']

In [10]:
#46. Write a program that uses `filter()` to get only the even numbers from the list `[1, 2, 3, 4, 5, 6]`
numbers = [1, 2, 3, 4, 5, 6,]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [11]:
#47. Write a program that filters numbers greater than 3 from the list `[1, 2, 3, 4, 5]` using `filter()`.
numbers = [1, 2, 3, 4, 5]
greater_than_three = list(filter(lambda x: x > 3, numbers))
print(greater_than_three)

[4, 5]

In [12]:
#48. Use `filter()` to get all names longer than 3 characters from the list`['Tom', 'Jack', 'Bob', 'Alice']`.
names = ['Tom', 'Jack', 'Bob', 'Alice']
long_names = list(filter(lambda x: len(x) > 3, names))
print(long_names)

['Jack', 'Alice']

In [14]:
# 49. Write a program that filters out negative numbers from the list `[-1, -2, 3, 4, -5]`.
list_number = [-1, -2, 3, 4, -5]
result9 = list(filter(lambda x: x<0, list_number))
print(result9)

[-1, -2, -5]

In [16]:
# 50. Use `filter()` to find all numbers divisible by 3 from the list `[1, 2, 3, 4, 5,6]`.
numbers = [1, 2, 3, 4, 5, 6]
divisible_by_three = list(filter(lambda x: x % 3 == 0, numbers))
print(divisible_by_three)

[3, 6]

In [17]:
# 51. Write a program that prints numbers from 1 to 5, but breaks the loop when it reaches 3.
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

In [18]:
#52. Write a program that prints numbers from 1 to 5, but skips 3 using continue`.
for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [19]:
#53. Write a program that prints numbers from 1 to 5, but stops when the number is greater than 4 using `break`.
for i in range(1,6):
    if i>4:
        break
    print(i)

1
2
3
4

In [21]:
#54. Write a program that prints all the even numbers from 1 to 10, using continue` to skip odd numbers
for i in range(1,11):
    if i%2==1:
        continue
    print(i)

2
4
6
8
10

In [22]:
#55. Create a loop that breaks when a negative number is encountered in the list `[1, 2, 3, -1, 4]`.
list = [1, 2, 3, -1, 4]
for i in list:
  if i<0:
    break
  print(i)

1
2
3

In [23]:
#56. Write a program that uses `enumerate()` to print the index and value of each element in the list `['apple', 'banana', 'cherry']`.
fruits = ['apple','banana','cherry']
for index, value in enumerate(fruits):
  print(index, value)

0 apple
1 banana
2 cherry

In [83]:
#58. Write a program that zips two lists `['apple', 'banana']` and `[1, 2]` and prints the result.
list1 = ['apple', 'banana']
list2 = [1, 2]
zipped_result = list(zip(list1, list2))
print(zipped_result)

TypeError: 'list' object is not callable

In [76]:
#59. Write a program to find the sum of corresponding elements in two lists `a = [1, 2, 3]` and `b = [4, 5, 6]` using `zip()`.
a = [1, 2, 3]
b = [4, 5, 6]
list_sum=[i+j for i,j in zip(a,b)]
list_sum

[5, 7, 9]

In [75]:
#60. Use `enumerate()` to loop over a list of names and print each name with its index.
names=['prachi','sakshi','pooja','poonam','ayushi']
for i in enumerate(names):
    print(i)

(0, 'prachi')
(1, 'sakshi')
(2, 'pooja')
(3, 'poonam')
(4, 'ayushi')